html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ProximaNova Bold";
  src: url('../fonts/ProximaNova-Bold.otf?1286451236') format('opentype');
}
@font-face {
  font-family: "ACaslonPro Semibold";
  src: url('../fonts/ACaslonPro-Semibold.otf?1187745112') format('opentype');
}
@font-face {
  font-family: "Brandon Reg";
  src: url('../fonts/Brandon_reg.otf?1419413966') format('opentype');
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #231f20;
}

#content {
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg?1423975736');
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media only screen and (max-device-width: 750px) {
  #content {
    background-image: url('../img/background-mobile.jpg?1424592217');
    padding-top: 125px;
    height: auto;
  }
}
header {
  width: 31.5em;
  padding-top: 4em;
  background-image: url('../img/hudson-logo.png?1424396606');
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 11em;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
header h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: "ProximaNova Bold";
  font-size: 1.6em;
  letter-spacing: .15em;
}

@media only screen and (max-device-width: 750px) {
  header {
    width: 85%;
    position: inherit;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    padding-top: 11%;
  }
  header h1 {
    font-size: 4vw;
  }
}
form {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
}
form fieldset {
  width: 100%;
}
form fieldset legend {
  width: 100%;
}
form fieldset legend p {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
form fieldset legend p.mission {
  font-family: "Brandon Reg";
  font-size: 1.3em;
  width: 460px;
  padding-top: 1.8em;
  line-height: 1.5em;
}
form fieldset legend p.coming {
  font-family: "ProximaNova Bold";
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 2.4em;
}
form fieldset legend p.intro {
  font-family: "Brandon Reg";
  font-size: 1.13em;
  padding-top: 1.6em;
}
form fieldset .fields {
  width: 560px;
  margin: 3.1em auto 0;
}
form fieldset .fields input {
  font-family: "Brandon Reg";
  color: #ceb02d;
  font-size: 1.13em;
  width: 228px;
  height: 40px;
  margin: 0 20px 0 20px;
  padding: 0 0 0 12px;
  border: none;
}
form fieldset .fields input:focus {
  outline: none !important;
}
form fieldset .error {
  font-family: "Brandon Reg";
  color: #ceb02d;
  font-size: 1.13em;
  width: 100%;
  text-align: center;
  padding-top: .75em;
  opacity: 0;
  height: 31px;
}
form fieldset .error.show {
  opacity: 1;
}
form fieldset .submit {
  margin: 1.4em auto 2.1em;
  padding-bottom: .6em;
  font-family: "ProximaNova Bold";
  color: #ffffff;
  font-size: 1.05em;
  background-color: transparent;
  border: none;
  border-bottom: solid #ceb02d 3px;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
  display: block;
}

@media only screen and (max-device-width: 750px) {
  form {
    position: inherit;
    top: 0%;
    left: 0%;
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    margin-top: 20%;
    padding-bottom: 4em;
  }
  form fieldset legend p.mission {
    font-size: 4.5vw;
    width: 67%;
    padding-top: 8%;
    line-height: 1.5em;
  }
  form fieldset legend p.coming {
    font-size: 3.0vw;
    padding-top: 3.5em;
  }
  form fieldset legend p.intro {
    font-size: 4.0vw;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  form fieldset .fields {
    width: 100%;
    margin-top: 0;
  }
  form fieldset .fields input {
    font-family: "Brandon Reg";
    color: #ceb02d;
    font-size: 5.0vw;
    width: 70%;
    height: 2.35em;
    margin: 0.9em 15%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  form fieldset .submit {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.9vw;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}
footer {
  position: absolute;
  left: 50%;
  bottom: 1.5em;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
footer ul {
  margin: 0 auto;
  height: 2.25em;
  width: 100%;
  min-width: 19em;
  text-align: center;
}
footer ul li {
  display: inline-block;
  width: 2.25em;
  height: 2.25em;
  margin: 0 .75em 0 .75em;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
footer ul li.instagram {
  background-image: url('../img/footer-instagram-icon.png?1425947579');
}
footer ul li.facebook {
  background-image: url('../img/footer-facebook-icon.png?1425947600');
}
footer ul li.twitter {
  background-image: url('../img/footer-twitter-icon.png?1425947624');
}
footer ul li.pinterest {
  background-image: url('../img/footer-pinterest-icon.png?1425947651');
}
footer ul li a, footer ul li a:visited, footer ul li a:hover, footer ul li a:link {
  width: 100%;
  height: 100%;
  display: block;
}
footer .contact, footer .copyright {
  text-align: center;
  font-family: "ACaslonPro Semibold";
  letter-spacing: .1em;
}
footer .contact {
  font-size: 15px;
  padding-top: 2em;
}
footer .contact a, footer .contact a:visited, footer .contact a:hover, footer .contact a:link {
  text-decoration: none;
  color: #000000;
}
footer .copyright {
  font-size: 14px;
  padding-top: .8em;
}

@media only screen and (max-device-width: 750px) {
  footer {
    position: inherit;
    left: 0%;
    bottom: 0;
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    margin-top: 25vw;
    padding-bottom: 60px;
  }
  footer ul {
    min-width: 0;
  }
  footer ul li {
    width: 9.3vw;
    height: 9.3vw;
    margin: 0 3.0vw 0 3.0vw;
  }
  footer .contact {
    font-size: 2.7vw;
    padding-top: 14vw;
  }
  footer .copyright {
    font-size: 3vw;
    padding-top: 2vw;
  }
}
